{# filepath: /home/al/w/warehouse/templates/admin/crud/modal.html.twig #}
<div class="modal fade" id="modal-update-stock" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">盘点结算</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                系统库存将被盘点数量覆盖！请确认后在操作！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <a href="{{ ea_url().setAction('updateAllStock').generateUrl() }}" class="btn btn-primary">确定</a>
            </div>
        </div>
    </div>
</div>
