{% extends '@!EasyAdmin/page/content.html.twig' %}

    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    {% endblock %}

{% block content %}
<div class="content mt-4">
  <div class="badge d-flex justify-content-between">
    <div class="bg-success text-light p-3 px-5 h4 rounded">
      <p>总库存</p>
      <p class="m-0">123件</p>
    </div>
    <div class="bg-primary text-light p-3 px-5 h4 rounded">
      <p>当前库存</p>
      <p class="m-0">123件</p>
    </div>
    <div class="bg-info text-light p-3 px-5 h4 rounded">
      <p>使用中</p>
      <p class="m-0">123件</p>
    </div>
    <div class="bg-danger text-light p-3 px-5 h4 rounded">
      <p>物品损耗</p>
      <p class="m-0">123件</p>
    </div>
  </div>

  <div class="chart-container">
    <h3>半年领用统计</h3>
    <canvas id="chart1"></canvas>
  </div>
  <div class="chart-container">
    <h3>领用排行榜</h3>
    <canvas id="chart2"></canvas>
  </div>

  <div>
    <h3>近期出库记录</h3>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
              <th>日期</th>
              <th>领用人</th>
              <th>物品</th>
              <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2021-1-2 12:12:12</td>
            <td>王二</td>
            <td>大米12袋</td>
            <td>用于演习</td>
          </tr>
          <tr>
            <td>2021-1-2 12:12:12</td>
            <td>王二</td>
            <td>大米12袋</td>
            <td>用于演习</td>
          </tr>
          <tr>
            <td>2021-1-2 12:12:12</td>
            <td>王二</td>
            <td>大米12袋</td>
            <td>用于演习</td>
          </tr>
          <tr>
            <td>2021-1-2 12:12:12</td>
            <td>王二</td>
            <td>大米12袋</td>
            <td>用于演习</td>
          </tr>
          <tr>
            <td>2021-1-2 12:12:12</td>
            <td>王二</td>
            <td>大米12袋</td>
            <td>用于演习</td>
          </tr>
          <tr>
            <td>2021-1-2 12:12:12</td>
            <td>王二</td>
            <td>大米12袋</td>
            <td>用于演习</td>
          </tr>
        </tbody>
    </table>
  </div>

</div>
{% endblock content %}

{% block body_javascript %}
<script src="{{ asset('js/Chart.min.js') }}"></script>
<script src="{{ asset('js/initChart.js') }}"></script>
{% endblock body_javascript %}
