{% extends '@!EasyAdmin/page/content.html.twig' %}
    {% block page_title %}战备器材库信息化管理系统{% endblock %}

    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    {% endblock %}

{% block content %}
<div class="content mt-4">
  <div class="badge d-flex justify-content-between">
    <div class="bg-success text-light p-3 px-5 h4 rounded">
      <p>库存总量</p>
      <p class="m-0">{{stock0}}件</p>
    </div>
    <div class="bg-primary text-light p-3 px-5 h4 rounded">
      <p>当前库存</p>
      <p class="m-0">{{stock}}件</p>
    </div>
    <div class="bg-info text-light p-3 px-5 h4 rounded">
      <p>使用中</p>
      <p class="m-0">{{using}}件</p>
    </div>
  </div>

  <div class="chart-container">
    <h3>半年领用统计</h3>
    <canvas id="chart1"></canvas>
    {% for k,v in months %}
    <i class='month' data-month="{{k}}" data-quan="{{v}}"></i>
    {% endfor %}
  </div>
  {#
  <div class="chart-container">
    <h3>领用排行榜</h3>
    <canvas id="chart2"></canvas>
  </div>
  #}

  <div>
  <div class="row">
    <h3 class="col">近15天出入库记录</h3>
    <a class="col-auto btn btn-primary" id="export" style="height: 30px" href="/api/log/export">导出记录</a>
  </div>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
              <th>时间</th>
              <th>箱子编号</th>
              <th>进出</th>
              <th>器材</th>
              <th>备注</th>
          </tr>
        </thead>
        <tbody>
        {% for i in logs %}
          <tr>
            <td>{{i.date|date("Y/m/d H:i:s")}}</td>
            <td>{{i.box}}</td>
            {% if i.direction %}
            <td>进</td>
            {% else %}
            <td>出</td>
            {% endif %}
            <td>
            {% for j in i.items %}
            <p class="mb-0"> {{ j }} </p>
            {% endfor %}
            </td>
            <td>{{i.note}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>

</div>
{% endblock content %}

{% block body_javascript %}
<script src="{{ asset('js/Chart.min.js') }}"></script>
<script src="{{ asset('js/initChart.js') }}"></script>
{% endblock body_javascript %}
