{% extends '@!EasyAdmin/page/content.html.twig' %}

  {% block head_stylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
  {% endblock %}

{% block content %}
<div class="content">
<p>A区</p>
<div class="text-light text-center d-flex justify-content-around my-3 bg-light py-3 rounded">
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
</div>

<p>A区</p>
<div class="text-light text-center d-flex justify-content-around my-3 bg-light py-3 rounded">
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
</div>

<p>A区</p>
<div class="text-light text-center d-flex justify-content-around my-3 bg-light py-3 rounded">
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
</div>

<p>A区</p>
<div class="text-light text-center d-flex justify-content-around my-3 bg-light py-3 rounded">
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
</div>

<p>A区</p>
<div class="text-light text-center d-flex justify-content-around my-3 bg-light py-3 rounded">
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
</div>

<p>A区</p>
<div class="text-light text-center d-flex justify-content-around my-3 bg-light py-3 rounded">
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
    <div class="bg-primary rounded px-4 py-3">
        <p class="">1号箱</p>
        <p class="mb-0">救生衣</p>
    </div>
</div>


</div>

{% endblock content %}
